keras-self-attention==0.51.0
librosa==0.10.1
noisereduce==3.0.0
numpy==1.23.5
pandas==1.5.3
scikit-learn==1.2.2
scikit-learn-extra==0.3.0
sounddevice==0.4.6
streamlit==1.32.0
tensorflow==2.12.0
streamlit-audiorec
